@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.contenido-dinastias {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    text-align: justify;
    font-family: "Noto Serif", serif;
}

.dinastias-parrafo{
    font-size: 1.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.botones-dinastias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Noto Serif", serif;
}

.botones-dinastias button {
    background-color: brown;
    border: 0;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    color: rgb(255, 231, 231);
    font-size: 1.5rem;
    margin: 2rem;
    padding: 2rem;
    transition: 0.5s transform, 0.5s background-color, 0.5s color;
    width: 10rem;
}

.botones-dinastias button:hover {
    background-color: rgb(249, 201, 201);
    transform: scale(1.10);
    color:brown;
}

.boton-modelo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Noto Serif", serif;
}