@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.row-fest {
    margin-top: 5rem;
}

.cont-fest {
  display: flex;
  justify-content: center;
  font-family: "Noto Serif", serif;
  align-items: center;
}

.imagen-fest {
  border: 15px solid;
  width: 500px;
}

.parraf-fest {
  text-align: justify;
  font-size: 1.2rem;
}
