.boton-logout {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 13px;
    color: #ffffff;
    background-color: #000000;
    padding: 5px 20px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 20px -6px;
    border-radius: 6px;
    transition: 1000ms;
    transform: translateY(0);
    align-items: center;
    cursor: context-menu;
    text-transform: uppercase;
  }
  
  .boton-logout:hover{
      transition: 1000ms;
      padding: 5px 30px;
      transform: translateY(-9px);
      background-color: #b0b0b0;
      color: #ffffff;
      border: solid 2px #b0b0b0;
      cursor: pointer;
  }