@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.custom-sidebar {
  height: 100vh; /* Ajusta la altura a la altura total de la pantalla */
  width: 300px; /* Ajusta el ancho del sidebar según tus necesidades */
  padding: 20px; /* Añade un espacio de relleno interno si lo deseas */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-family: "Noto Serif", serif;
  transition: transform 0.3s ease;
}

.open,
.custom-sidebar {
  display: none;
  transform: translateX(0);
}

.custom-sidebar .custom-navbar-brand {
  margin-bottom: 50px; /* Añade un espacio inferior al navbar-brand si lo deseas */
  border-bottom: 3.5px solid;
}

.custom-navbar-brand {
  font-size: 2rem;

}

.custom-sidebar,
.custom-navbar-nav,
.custom-navbar-brand {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  transform: translateX(0);
}

.custom-navbar-nav {
  margin-top: 10px;
}

.custom-nav-item {
  padding: 5px;
  font-size: 1.5rem;
  border-bottom: 2px solid;
  width: 100%; /* Asegura que el elemento ocupe todo el ancho */
  transition: width 1s ease, border-bottom-width 1s ease; /* Añade una transición para suavizar el cambio */
}


.custom-nav-item:hover {
  width: 115%;
  border-bottom-width: 5px; /* Ajusta el ancho deseado */
}

.custom-sidebar,
.custom-nav-link {
  padding: 2px; /* Ajusta el espacio interno de los enlaces según tus necesidades */
}

.custom-div-logout {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link .icon-custom {
  color: black;
}

.nav-link:hover .icon-custom {
  color: red; /* Aplica un gradiente de color */
}
