@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.inicio-design {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  height: 100vh;
}

.informacion {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Noto Serif", serif;
}

.imagen-inicio {
  background-color: rgb(212, 22, 212);
}

.titulo-container {
  display: inline-block;
  position: relative;
  margin-top: 10%;
  margin-bottom: 10px; /* Margen inferior opcional para separar el contenido siguiente */
}

.titulo-container::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 50%;
  border-bottom: 3px solid black; /* Ajusta el color y el grosor del borde según tus necesidades */
}

.titulo {
  margin: 0; /* Para eliminar el margen por defecto del h1 */
  margin-bottom: 10%;
  font-size: 90px;
  font-weight: bolder;
}

.registro {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif", serif;
}

.boton-registro {
  font-family: "Noto Serif", serif;
  font-weight: 0;
  font-size: 50px;
  color: #fff;
  background-color: #272727;
  padding: 15px 40px;
  border: solid #000000 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 8px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.boton-registro:hover {
  transition: 1000ms;
  padding: 15px 60px;
  transform: translateY(-0px);
  background-color: #b0b0b0;
  color: #000000;
  border: solid 2px #000000;
}

.icono-registro {
  width: 50px; /* Ajusta el ancho según el tamaño deseado */
  height: 50px; /* Ajusta la altura según el tamaño deseado */
  margin-left: 10px; /* Ajusta el margen según el espacio deseado entre el texto y el icono */
}

.boton-inicio {
  font-family: "Noto Serif", serif;
  font-weight: 0;
  font-size: 15px;
  color: #fff;
  background-color: #272727;
  padding: 5px 20px;
  border: solid #000000 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 8px;
  transition: 1000ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.boton-inicio:hover {
  transition: 1000ms;
  padding: 5px 27px;
  transform: translateY(-0px);
  background-color: #b0b0b0;
  color: #000000;
  border: solid 2px #000000;
}

/* Media Query para 1920px */
@media screen and (max-width: 1920px) {
  .titulo {
    font-size: 80px; /* Ajusta el tamaño de fuente según tus necesidades */
  }

  .boton-registro {
    font-size: 40px; /* Ajusta el tamaño de fuente según tus necesidades */
    padding: 10px 30px; /* Ajusta el espacio interior según tus necesidades */
  }

  .boton-inicio {
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
    padding: 3px 15px; /* Ajusta el espacio interior según tus necesidades */
  }
}

@media screen and (max-width: 720px) {
  .inicio-design {
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    height: auto;
  }

  .titulo {
    font-size: 60px;
    margin-bottom: 5%;
  }

  .boton-registro {
    font-size: 30px;
    padding: 10px 30px;
  }

  .icono-registro {
    width: 30px;
    height: 30px;
    margin-left: 5px;
  }

  .boton-inicio {
    font-size: 12px;
    padding: 3px 15px;
  }
}
