@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

.titulo-zhou {
  top: 0;
  position: sticky;
  z-index: 2;
  background-color: rgba(135, 135, 135, 0.9);
  width: 100%;
  font-family: "Noto Serif", serif;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  cursor: context-menu;
  color: black; /* Color original */
  animation: cambio-color-zhou 3s infinite alternate; /* Aplicar animación */
}

@keyframes cambio-color-zhou {
  0% {
    color: black; /* Color original */
  }
  50% {
    color: #19742d; /* Color deseado */
  }
  100% {
    color: black; /* Color original */
  }
}

.info-zhou {
  color: black;
  background-color: rgba(151, 151, 151, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
  font-family: "Noto Serif", serif;
  font-size: 1.2rem;
  margin-right: 2rem;
  padding: 0.7rem;
  text-align: justify;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;

}

.page-zhou {
  height: 100vh;
}

.page-zhou::before {
  content: "";
  position: fixed;
  width: 300%;
  height: 100%;
  top: 45%;
  left: 50%;
  background-color: #145923;
  background-color: #145923;
  border-radius: 50%;
  transform: translateX(-50%) skew(0, -10deg);
  animation: wave 7s ease-in-out infinite alternate;
  -webkit-animation: wave 7s ease-in-out infinite alternate;
  z-index: -1;
}
@keyframes wave {
  from {
    transform: translateX(-50%) skew(0, -10deg);
  }
  to {
    transform: translateX(-30%) skew(10deg, 0);
    -webkit-transform: translateX(-30%) skew(10deg, 0);
    -moz-transform: translateX(-30%) skew(10deg, 0);
    -ms-transform: translateX(-30%) skew(10deg, 0);
    -o-transform: translateX(-30%) skew(10deg, 0);
  }
}
